<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.momeokji.moc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_moc"
        android:label="MO먹지"
        android:roundIcon="@mipmap/ic_launcher_moc_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".koreanShop.Imjongrye"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".koreanShop.Myeongpum"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".chineseShop.Chwihyang"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".koreanShop.Nondureong"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".shopList.ChineseShopList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".shopList.KoreanShopList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Category"
            android:label="@string/title_activity_category" />
        <activity
            android:name=".Opening"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>